.filter-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(182, 179, 179, 0.449);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    @media screen and(max-width:600px) {
        gap: 0;
    }
    button {
        width: 120px;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.2s;
        font-weight: 600;
        background: transparent;
        @media screen and(max-width:600px) {
            padding: 10px 5px;
            width: auto;
        }
        &:hover {
            transform: scale(1.1);
            color: rgb(45, 205, 245);
            background: rgb(242, 242, 242);
            font-weight: 500;
        }
    }
    .delete-one-btn {
        &:hover {
            color: red;
        }
    }
}
.numbers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column-reverse;
    gap: 10px;
    p {
        letter-spacing: 1px;
    }
}
